# ROS 2 workspace
build/
install/
log/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/

# C++
*.o
*.so
*.a
*.d

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# secrets
secrets/*.yaml
secrets/map
