[submodule "file_server2"]
	path = src/ros-sharp
	url = https://github.com/siemens/ros-sharp.git
[submodule "src/small_gicp"]
	path = src/small_gicp
	url = https://github.com/koide3/small_gicp.git
[submodule "src/spot_ros2"]
	path = src/spot_ros2
	url = git@github.com:h2r/spot_wrapper_ros2.git
[submodule "src/spot_multi"]
	path = src/spot_multi
	url = git@github.com:h2r/spot_ros2_multi.git
